@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.menu {
  li {
    @include flex-wrap();

    float: left;
    display: inline-block;
    padding: 0 2rem;
    text-align: center;
    font-size: $font-size-sm;
    letter-spacing: $letter-spacing;
    font-weight: 600;

    &.item-primary {
      font-size: $font-size-md;
      // font-family: $font-family-quote;
    }

    @media screen and (max-width: $screen-size-mobile) {
      padding: 0 1rem;
    }
  }
}
