@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.button-refresh {
  @include center-horz();
  @include bottom-button();

  bottom: 0;
  margin-bottom: 2rem;
  color: $color-primary;
  background: none;
  border: none;
  outline: none;
  font-size: $font-size-bottom-button;

  &[data-mouse-down=true] {
    span {
      transform: translate(0px, $button-effect-height);
      // animation-duration: 2s;
      display: block;
    }
  }
}
