// orange
$color-primary: #f54e47;
// $color-primary: #f65b54;
// blue
$color-secondary: #031465;

$font-family: 'Work Sans', sans-serif;
// $font-family: 'BerlingskeSerifXBd', serif;
// $font-family-quote: 'Source Serif Pro', serif;
$font-family-quote: 'BerlingskeSerifXBd', serif;

$letter-spacing: -.01em;
$font-size-base: 16px;
$font-size-sm: 1.125rem;
$font-size-md: 1.5rem;
$font-size-lg: 3.5rem;
$font-size-bottom-button: 3rem;

$screen-size-tablet: 56rem;
$screen-size-mobile: 45rem;
$button-effect-height: 2px;