// orange
$color-primary: #f65b54;
$color-primary-darkened: #f65b54;
// blue
$color-secondary: #081b7a;
$color-secondary-darkened: #040e40;

$font-family: 'Work Sans', sans-serif;
$font-family-quote: 'Source Serif Pro', serif;

$font-size-base: 16px;
$font-size-sm: 1.125rem;
$font-size-md: 1.5rem;
$font-size-lg: 3.5rem;
$font-size-bottom-button: 4rem;

$screen-size-tablet: 56rem;
$screen-size-mobile: 45rem;
$button-effect-height: 1px;